#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e02525;
}

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: #ffffff;
}

#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: #b91b1b;
    color: #ffffff;
    font-size: 1.1rem;
}

#header .auth-options button:hover {
    background-color: #be3a3a;
}

@media screen and (max-width: 550px) {
    #header .title {
      font-size: 1.2rem;
    }
}
